<p-panel header="Pipes Basicos" class="p-1">

    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>

</p-panel>

<div class="grid mt-2">

<div class="col-12 md:col-4">
    <p-card header="uppercase">
        {{nameUpper | uppercase}}
    </p-card>
</div>

<div class="col-12 md:col-4">
    <p-card header="lowercase">
        {{nameLover | lowercase}}
    </p-card>
</div>

<div class="col-12 md:col-4">
    <p-card header="titleclase">
        {{fullName | titlecase}}
    </p-card>
</div>


<div class="col-12 md:col-6">
    <p-card header="titleclase">
      <ul>
        <li>Fecha | date</li>
        <li>Fecha {{customDate}}</li>
        <li>Fecha | date: 'short' </li>
      </ul> 
    </p-card>
</div>


<div class="col-12 md:col-6">
    <p-card header="titleclase">
       <ul>
        <li>{{customDate}}</li>
        <li>{{customDate}} | date </li>
        <li>{{customDate | date:'short'}}</li>
       </ul>
    </p-card>
</div>
</div>